.nameAndImage{
	float: left;
	margin-left: 5px;
}

#allGroupsUL{
	visibility: hidden;
}

#allGroupsGUI ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
#allGroupsGUI li {
	padding: 5px 0 5px 0;
	margin: 0 0 5px 0;
	overflow: hidden;
}

.fadderGroupGUI{
	border-bottom: dotted 2px black;
}

.nameGUI{
	text-align: center;
	font-family: header_font;

}

.groupGUI{
	float:left;
	font-family: header_font;
	width:20px;
}

.groupGUI h2{
	padding: 0;
	margin: 0;
}
